@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.restaurant-card {
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 0.8px solid #B3BFCB;
    cursor: pointer;
}

.product-image {
    width: 241px;
    height: 97px;
    object-fit: cover;
}

.info {
    display: flex;
    padding: 0px 10px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.logo {
    width: 38px;
    height: 38px;
    border-radius: 4px;
    object-fit: cover;
}

.info-restaurant {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.name-rating {
    display: flex;
    width: 170px;
    align-items: flex-start;
}

.delivery-time-price {
    display: flex;
    align-items: center;
    gap: 8px;
}

.delivery-time-container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.delivery-time {
    color: #151719;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.restaurant-name {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    flex: 1 0 0;
    color: #151719;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
}

.rate-container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.rate {
    color: #151719;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
}

.price {
    color: #151719;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
}
p{
    margin: 0px;
}