<ng-container *ngIf="products && products.length > 0; else noContent">

  <div class="pb-3 ">
    <h2 class="menu-title ">{{title}}</h2>
    <ng-container *ngIf="!isScrolling">
      <div class="row">
        <app-product-card (click)="toProductPage(product.id)"
                          *ngFor="let product of products"
                          [product]="product"
                          [quantity]="getQuantityBy(product)"
                          class="col-6"/>
      </div>
    </ng-container>


    <ng-container *ngIf="isScrolling">
      <div class="products-container">
        <app-product-card (click)="toProductPage(product.id)"
                          *ngFor="let product of products "
                          [product]="product"
                          [quantity]="getQuantityBy(product)"/>
      </div>
    </ng-container>

  </div>
</ng-container>
<ng-template #noContent>
  <div class="pb-3 ">
    <h2 class="menu-title ">{{title}}</h2>
    No hay productos.
  </div>
</ng-template>
