.principal-container {
    background: var(--fondo-fondo, #F5F5F5);
    padding: 112px 16px 112px 16px;
}

.onboarding-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.question-user-role-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.question-user-role {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.question-user-role p {
    color: var(--text-texto-primario, #151719);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
}

.question-user-role section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
}

.toggle-button {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 180px;
    padding: 10px 10px 10px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    border: 1px solid var(--lineas-stroke-lineas, #B3BFCB);
    background: var(--fondo-fondo, #F5F5F5);
    flex: 1 0 0;
    color: var(--text-texto-primario, #151719);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.toggle-button img {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.selected {
    background-color: #D5DEE7;
}

.btn-continue {
    display: flex;
    width: 329px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    background: var(--fondo-fondo-mprimario, #048221);
    color: #F5F5F5;
    border: none;
}