<mat-card class="product-card">
  <div *ngIf="discount>0" class="badge-discount">
    <p>{{discount}}</p>
  </div>

  <button *ngIf="quantity===0" class="btn-add" color="link" mat-mini-fab>
    <mat-icon fontIcon="add"/>
  </button>
  <button *ngIf="quantity!==0" class="btn-counter" mat-mini-fab>
    {{quantity}}
  </button>
  <img [alt]="'Imagen del producto '+ product.name" [src]="product.imageUrl" class="mx-2 my-1 img-product"
       mat-card-image>
  <mat-card-content>
    <h3 class="product-title">{{product.name}}</h3>
    <div class="d-flex justify-content-space-between align-items-center">
      <p class="product-price">${{product.price}}</p>
      <app-button-favorite (click)="setSelectedFavorite($event)" [favorite]="product.favorite"/>
    </div>
  </mat-card-content>
</mat-card>

