<div>
    <section class="profile-settings">
        <h2>Perfil</h2>
        <div class="settings-list">
            <a>Información personal<img src="../../../assets/images/right-arrow.svg"></a>
            <a>Preferencias de comidas<img src="../../../assets/images/right-arrow.svg"></a>
            <a>Direcciones<img src="../../../assets/images/right-arrow.svg"></a>
            <a>Favoritos<img src="../../../assets/images/right-arrow.svg"></a>
        </div>
    </section>
    <section class="profile-settings">
        <h2>Actividad</h2>
        <div class="settings-list">
            <a>Más vistos<img src="../../../assets/images/right-arrow.svg"></a>
        </div>
    </section>
    <section class="profile-settings">
        <h2>Configuración</h2>
        <div class="settings-list">
            <a>Notificaciones<img src="../../../assets/images/right-arrow.svg"></a>
            <a>Información legal<img src="../../../assets/images/right-arrow.svg"></a>
            <a>Registrar mi negocio<img src="../../../assets/images/right-arrow.svg"></a>
        </div>
    </section>
    <h2 class="log-out-btn"><img src="../../../assets/images/box-arrow-right.svg"> Cerrar sesión</h2>
</div>