<div class="container login-container" fxLayout="row" fxLayoutAlign="center center">
    <form [formGroup]="loginForm" class="auth-form" fxFlex.sm="50%" fxFlex.xs="90%">
        <mat-card class="box">
            <mat-card-title class="auth-title">Bienvenido</mat-card-title>
            <mat-card-subtitle class="auth-subtitle">Iniciar sesión</mat-card-subtitle>
            <mat-card-content>
                <!-- <label class="auth-label">
                    Correo electrónico
                    <input class="auth-input" type="text" placeholder="Ingresá tu correo" />
                </label> -->
                <!-- <label class="auth-label">
                    Contraseña
                    <input class="auth-input" type="text" placeholder="Ingresá tú contraseña" />
                </label> -->
                <mat-label  class="auth-label">Correo electrónico</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Ingresá tu correo"
                    formControlName="email" type="email">
                </mat-form-field>
                
                <mat-label  class="auth-label">Contraseña</mat-label> 
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Ingresá tú contraseña"
                    formControlName="password" type="email">
                </mat-form-field>                       
    
            </mat-card-content>     
  
            <div class="auth-buttons">
                <button type="submit" mat-stroked-button color="primary" class="btn-block">Iniciar sesion</button>
                <button mat-stroked-button class="btn-block">Continuar con Google</button>
        
            </div>            
            
        </mat-card>


      </form>    
  
  </div>
