<div class="container">
    <div class="header">
        <!--HAY QUE PONER LA FLECHA PARA VOLVER-->
        <h2>Perfil</h2>
    </div>
    <div>
        <h3>Información personal</h3>
        <section class="personal-data" (click)="redirectTo()">
            <div>
                <h4>Datos personales</h4>
                <p>Nombre, fecha de nacimiento y género</p>
            </div>
            <img src="../../../assets/images/right-arrow.svg">
        </section>
        <section class="phone-number">
            <h4>Número de celular</h4>
            <button>Agregar</button>
        </section>
        <section class="email">
            <div>
                <h4>E-mail</h4>
                <p>ejemplo@gmail.com</p>
            </div>
            <button>Validar</button>
        </section>
    </div>
</div>