<mat-card class="card">
  <img [alt]="'Products image '+restaurant.name" [src]="restaurant.productImage" mat-card-image>
  <mat-card-content class="card-content">
    <img [alt]="'Brand image '+restaurant.name" [src]="restaurant.brandImage">
    <div class="card-content-description">
      <div class="card-title-rating-container">
        <h3 class="card-title">{{restaurant.name}}</h3>
        <app-rating [rating]="restaurant.rating"/>
      </div>
      <app-delivery-details-cost-time
        [cost]="restaurant.deliveryCost"
        [maxTime]="restaurant.maxTime"
        [minTime]="restaurant.minTime"/>
    </div>
  </mat-card-content>
</mat-card>
