p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  margin: 0;
}

.icon-timer {
  font-size: 16px;
  width: 16px;
  height: 16px;
}

.separator {
  font-weight: 600;
  margin: 0 3px;
  font-size: 16px;
  line-height: 18px;
}

.cost {
  font-weight: 500;
}
