.radio-group-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
}

.mat-mdc-radio-button.mat-accent {
  --mdc-radio-disabled-selected-icon-color: #000;
  --mdc-radio-disabled-unselected-icon-color: #000;
  --mdc-radio-unselected-hover-icon-color: #212121;
  --mdc-radio-unselected-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-radio-unselected-pressed-icon-color: #048221;
  --mdc-radio-selected-focus-icon-color: #048221;
  --mdc-radio-selected-hover-icon-color: #048221;
  --mdc-radio-selected-icon-color: #048221;
  --mdc-radio-selected-pressed-icon-color: #048221;
  --mat-radio-ripple-color: #000;
  --mat-radio-checked-ripple-color: #048221;
  --mat-radio-disabled-label-color: rgba(0, 0, 0, 0.38);
}
