.container-direcciones {
    width: 360px;
}

.direccion {
    background: #FFF;
    border-radius: 16px;
    border: 1px solid #B5B5B5;
    width: 328px;
    margin-bottom: 17px;
    height: 63px;
    
}