h3 {
  margin: 0;
  color: #151719;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title {
  color: #151719;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 90% */
}

.subtotal{
  color: #151719;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
