<div class="carousel-container">
    <app-restaurant-card-for-carousel image="../../assets/images/imgs-restaurant-card/pizza.jpg"
        logo="../../assets/images/pizza-restaurant.jpg" name="Zarpada Pizza" price="469" rate="4.2"
        deliveryTime="30-45"></app-restaurant-card-for-carousel>
    <app-restaurant-card-for-carousel image="../../assets/images/imgs-restaurant-card/helado.jpg"
        logo="../../assets/images/mcdonalds.png" name="Gredo" price="0" rate="5"
        deliveryTime="10-20"></app-restaurant-card-for-carousel>
    <app-restaurant-card-for-carousel image="../../assets/images/imgs-restaurant-card/ice-cream.jpg"
        logo="../../assets/images/logo-icecream.jpg" name="Cremaschi" price="329" rate="4.7"
        deliveryTime="15-30"></app-restaurant-card-for-carousel>
    <app-restaurant-card-for-carousel image="../../assets/images/imgs-restaurant-card/sushi.jpg"
        logo="../../assets/images/logo-sushi.jpg" name="Sushi Moe" price="0" rate="5"
        deliveryTime="10-20"></app-restaurant-card-for-carousel>
</div>