.summary-title {
  color: #151719;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 90% */
}

h3 {
  color: #151719;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}
