<div class="onboarding-ubication-container">
    <img class="share-location-img" src="assets/SVGs/onboarding-ubication.svg">
    <div class="user-activate-ubication">
        <p>¿Permitir que <span>DeliveryYa</span> acceda a tu ubicación actual?</p>
        <small>Accediendo a tu ubicación te mostraremos locales cercanos.</small>
    </div>
    <button class="activate-ubication">Activar ubicación <img src="assets/SVGs/onboarding-nearme.svg"></button>
    <button class="btn-not-now">Ahora no</button>
</div>