<app-seeker-of-home></app-seeker-of-home>
<br>
<div class="all-restaurants">
    <img src="../../../assets/images/all-restaurants.png">
    <h2>Todos nuestros restaurantes</h2>
</div>
<div class="food-list">
    <div class="food-type">
        <app-restaurant-types-card name="Comida Armenia" backgroundColor="#C9D6F966"
            image="https://res.cloudinary.com/dmwos3nm5/image/upload/v1694009319/all-restaurants-cards/rm7jbkqid67osia4opcq.png"></app-restaurant-types-card>
        <app-restaurant-types-card name="Comida Arabe" backgroundColor="#91A9FF66"
            image="https://res.cloudinary.com/dmwos3nm5/image/upload/v1694009319/all-restaurants-cards/f9xfm1yt2destueqquoi.png"></app-restaurant-types-card>
        <app-restaurant-types-card name="Cafeteria" backgroundColor="#E87BA266"
            image="https://res.cloudinary.com/dmwos3nm5/image/upload/v1694009319/all-restaurants-cards/gdxxlrdjnjfas3yddct3.png"></app-restaurant-types-card>
        <app-restaurant-types-card name="Celiacos" backgroundColor="#EC1D6166"
            image="https://res.cloudinary.com/dmwos3nm5/image/upload/v1694009319/all-restaurants-cards/spjpvviytfct7qtns1kf.png"></app-restaurant-types-card>
        <app-restaurant-types-card name="Comida China" backgroundColor="#60BAD566"
            image="https://res.cloudinary.com/dmwos3nm5/image/upload/v1694009319/all-restaurants-cards/cmztqvzaca53p5dtyxr5.png"></app-restaurant-types-card>
        <app-restaurant-types-card name="Desayunos" backgroundColor="#2558F266"
            image="https://res.cloudinary.com/dmwos3nm5/image/upload/v1694009320/all-restaurants-cards/oyvro2nfor8to0wd6b6o.png"></app-restaurant-types-card>
        <app-restaurant-types-card name="Empanadas" backgroundColor="#AB88DA66"
            image="https://res.cloudinary.com/dmwos3nm5/image/upload/v1694009321/all-restaurants-cards/owuerojzkqynzxthwpax.png"></app-restaurant-types-card>
        <app-restaurant-types-card name="Ensaladas" backgroundColor="#1F826666"
            image="https://res.cloudinary.com/dmwos3nm5/image/upload/v1694009321/all-restaurants-cards/ara9merscbsei5wlnzqi.png"></app-restaurant-types-card>
        <app-restaurant-types-card name="Hamburguesas" backgroundColor="#934C3E66"
            image="https://res.cloudinary.com/dmwos3nm5/image/upload/v1694009321/all-restaurants-cards/mpsvwe1lhpkwzudkpoae.png"></app-restaurant-types-card>
        <app-restaurant-types-card name="Helado" backgroundColor="#938D2B66"
            image="https://res.cloudinary.com/dmwos3nm5/image/upload/v1694009322/all-restaurants-cards/apnj4pis7atpc7edt1ex.png"></app-restaurant-types-card>
        <app-restaurant-types-card name="Panchos" backgroundColor="#D8024A66"
            image="https://res.cloudinary.com/dmwos3nm5/image/upload/v1694009325/all-restaurants-cards/lgjmvuokeueqr4xojuba.png"></app-restaurant-types-card>
        <app-restaurant-types-card name="Lomitos" backgroundColor="#9A516C66"
            image="https://res.cloudinary.com/dmwos3nm5/image/upload/v1694009322/all-restaurants-cards/nnnexvgcaxodezdpwwam.png"></app-restaurant-types-card>
        <app-restaurant-types-card name="Papas fritas" backgroundColor="#60BAD466"
            image="https://res.cloudinary.com/dmwos3nm5/image/upload/v1694009321/all-restaurants-cards/jjb5fnr6ng2gkwp2uhaf.png"></app-restaurant-types-card>
        <app-restaurant-types-card name="Comida Peruana" backgroundColor="#4782A066"
            image="https://res.cloudinary.com/dmwos3nm5/image/upload/v1694009321/all-restaurants-cards/gnrjqc6evrn3ewfmpsyi.png"></app-restaurant-types-card>
        <app-restaurant-types-card name="Pizzas" backgroundColor="#D1C83B66"
            image="https://res.cloudinary.com/dmwos3nm5/image/upload/v1694009323/all-restaurants-cards/cbtdyms9ic9xaijzom4p.png"></app-restaurant-types-card>
        <app-restaurant-types-card name="Parrilla" backgroundColor="#FCC1AF66"
            image="https://res.cloudinary.com/dmwos3nm5/image/upload/v1694009321/all-restaurants-cards/nlwub61dtml8oehpa5el.png"></app-restaurant-types-card>
        <app-restaurant-types-card name="Pastas" backgroundColor="#D06A5166"
            image="https://res.cloudinary.com/dmwos3nm5/image/upload/v1694009325/all-restaurants-cards/sp5iiqzkypgdvycy5bsh.png"></app-restaurant-types-card>
        <app-restaurant-types-card name="Picadas" backgroundColor="#938E2866"
            image="https://res.cloudinary.com/dmwos3nm5/image/upload/v1694009323/all-restaurants-cards/v6putmzheddqiwlz2t4q.png"></app-restaurant-types-card>
    </div>
</div>