<section class="filter-sheet-container">
  <header class="line-container">
    <svg fill="none" height="4" viewBox="0 0 54 4" width="54" xmlns="http://www.w3.org/2000/svg">
      <path d="M2 2H52" stroke="#B3BFCB" stroke-linecap="round" stroke-width="4"/>
    </svg>
  </header>

  <main class="filter-group-container">
    <!--Ordenado By-->
    <h2>Ordenar por</h2>
    <mat-button-toggle-group [(ngModel)]="sortedBy" appearance="legacy" aria-label="Sorted by"
                             class="filter-button-group-content">
      <mat-button-toggle *ngFor="let buttonSort of buttonToggleInfo"
                         [value]="buttonSort.value"
                         class="btn-filter">
        <mat-icon [fontIcon]="buttonSort.icon"></mat-icon>
        {{ buttonSort.label }}
      </mat-button-toggle>
    </mat-button-toggle-group>
    <!--Filtrar Por-->
    <div class="mt-3">
      <h2>Filtrar Por</h2>
      <div class="px-2">
        <app-filter-checkbox-form
          [benefits]="benefitsForm"
          [other]="otherForm"
          [payment]="paymentForm"/>
      </div>
    </div>
  </main>

  <footer class="py-2 px-1">
    <button (click)="handleApplyFilter()" class="my-2" color="primary" mat-raised-button>
      Aplicar filtros
    </button>
    <button (click)="handleDeleteFilter()" *ngIf="filtersApplied" mat-stroked-button>
      Eliminar filtros
    </button>
  </footer>
</section>

