<section class="filter-sheet-container">
  <header class="line-container">
    <svg fill="none" height="4" viewBox="0 0 54 4" width="54" xmlns="http://www.w3.org/2000/svg">
      <path d="M2 2H52" stroke="#B3BFCB" stroke-linecap="round" stroke-width="4"/>
    </svg>
  </header>
  <!--Grupo Botones-->
  <main class="filter-group-container">
    <h2>Ordenado Por</h2>

    <mat-button-toggle-group [(ngModel)]="sortedBy" appearance="legacy" aria-label="Sorted by"
                             class="filter-button-group-content">
      <mat-button-toggle class="btn-filter" value="standard">
        <mat-icon fontIcon="filter_list"/>
        Sugeridos
      </mat-button-toggle>
      <mat-button-toggle class="btn-filter" value="rating">
        <mat-icon class="material-icons-outlined" fontIcon="hotel_class"/>
        Más puntuados
      </mat-button-toggle>
      <mat-button-toggle class="btn-filter" value="faster">
        <mat-icon fontIcon="schedule"/>
        Más rapidos
      </mat-button-toggle>
      <mat-button-toggle class="btn-filter" value="nearby">
        <mat-icon class="material-icons-outlined" fontIcon="location_on"/>
        Más cercanos
      </mat-button-toggle>
    </mat-button-toggle-group>
    <!--Filtrar Por-->
    <div class="mt-3">
      <h2>Filtrar Por</h2>
      <div class="px-2">
        <app-filter-checkbox-form
          [benefits]="benefitsForm"
          [other]="otherForm"
          [payment]="paymentForm"/>
      </div>
    </div>
  </main>


  <footer class="py-2 px-1">
    <button (click)="handleApplyFilter()" class="my-2" color="primary" mat-raised-button>
      Aplicar filtros
    </button>
    <button (click)="handleDeleteFilter()" [disabled]="!filtersApplied" mat-stroked-button>
      Eliminar filtros
    </button>
  </footer>
</section>

