<app-button-line/>
<main class="sheet-container">

  <div class="d-flex align-items-center">
    <mat-icon fontIcon="restaurant_menu"/>
    <h1 class="section-title">Menú</h1>
  </div>

  <ul class="ps-1">
    <li class="d-flex align-items-center justify-content-space-between mt-1">
      <div>
        <h3 class="title">Más Vendidos <br><span class="description">{{getCountProduct((topSelling$|async))}}
          productos</span></h3>
      </div>
      <mat-icon fontIcon="chevron_right"/>
    </li>
    <li class="d-flex align-items-center justify-content-space-between mt-1">
      <div>
        <h3 class="title">Descuentos <br><span class="description">{{getCountProduct((discount$|async))}}
          productos</span>
        </h3>
      </div>
      <mat-icon fontIcon="chevron_right"/>
    </li>
    <li *ngFor="let menu of (others$ | async); " class="d-flex align-items-center justify-content-space-between mt-1">
      <div>
        <h3 class="title">{{menu.name}} <br><span class="description">{{getCountProduct(menu)}} productos </span></h3>
      </div>
      <mat-icon fontIcon="chevron_right"/>
    </li>
  </ul>


</main>
