.deck-container {
  max-width: 308px;
  margin: 160px auto 0 auto;
  padding: 24px 0 0 0;
}

.deck-title {
  margin: 0 0 16px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 18px; /* 75% */
}


