<header>
  <!--todo hero-->
  <img alt="Products image" src="assets/mocks/products_bk.png">

  <!--todo descripcion-->
  <div class="row mt-2 mb-3 px-2 align-items-center">
    <div class="col-2">
      <img src="assets/mocks/brand_bk.png">
    </div>
    <div class="col-8">
      <h1 class="mb-1 mt-0">Mc Donald´s</h1>
      <div class="d-flex ">
        <app-rating [rating]="4.1"/>
        <a class="px-1" href="#">Ver opiniones</a>
      </div>
    </div>
    <div class="col-2">
      <div class="d-flex">
        <mat-icon fontIcon="favorite_border"/>
        <mat-icon class="material-icons-outlined ms-2" fontIcon="shared"/>
      </div>
    </div>
  </div>




</header>




