<header>
  <!--hero-->
  <section [style.background-image]="'url('+productImageUrl+')'" class="hero">

    <div class="fixed-top">
      <a aria-label="Go back" href="#" mat-mini-fab>
        <mat-icon fontIcon="arrow_back"/>
      </a>
    </div>

  </section>


  <!--descripcion-->
  <section class="row mt-2 mb-3 px-2 align-items-center">
    <div class="col-2">
      <img [alt]="'Logo '+title" [src]="logoUrl">
    </div>
    <div class="col-8 ps-1">
      <h1 class="my-0">{{title}}</h1>
      <div class="d-flex ">
        <app-rating [rating]="4.1"/>
        <a class="px-1" href="#">Ver opiniones</a>
      </div>
    </div>
    <div class="col-2">
      <div class="d-flex">
        <mat-icon [fontIcon]="isFavorite?'favorite':'favorite_border'"/>
        <mat-icon class="material-icons-outlined ms-2" fontIcon="shared"/>
      </div>
    </div>
  </section>


</header>




