h1 {
  color: #151719;
}

a {
  text-decoration: none;
  color: #114260;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
}

.hero {
  width: 100%;
  height: 90px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  //position: relative;
}

.brand-img {
  width: 38px;
  height: 38px;
  flex-shrink: 0;
}
