<div class="order-status-container">
  <div class="estimated-time">
    <app-track-order></app-track-order>
  </div>
  <div class="my-order">
    <div class="name-restaurant">
      <img alt="McDonalds" class="logo-restaurant-order" src="assets/stores/143/logo.png">
      <div>
        <p class="brand-name">McDonald's</p>
        <p>2 productos</p>
      </div>
      <mat-icon>expand_more</mat-icon>
    </div>
    <div class="order-products">
      <div>
        <p>Bacon Cheddar McMelt Mediano</p>
        <p>2 x $6500</p>
      </div>
      <img alt="McMelt" class="order-image" src="assets/mocks/product_example.png">
    </div>
  </div>

  <div class="costs-order">
    <div class="costs-order-title">
      <img src="assets/mocks/bills_icon.png">
      <p>Pago en efectivo</p>
    </div>
    <app-order-summary></app-order-summary>
    <!--
    <div class="costs-order-summary">
        <p>Resumen</p>
        <section>
            <p>Productos</p>
            <p>$6500</p>
        </section>
        <section>
            <p>Envio</p>
            <p>Gratis</p>
        </section>
        <section>
            <p>Tarifa de servicio</p>
            <p>$50</p>
        </section>
        <section>
            <p>Propina</p>
            <p>$200</p>
        </section>
    </div>-->
  </div>
  <div class="more-details-order">
    <section>
      <img src="assets/mocks/house_icon.png">
      <div>
        <p>Direccion de entrega</p>
        <p>Avenida siempre viva 742</p>
      </div>
    </section>
    <section>
      <img src="assets/mocks/moto_icon.png">
      <div>
        <p>Entrega a cargo de</p>
        <p>DeliveryYa</p>
      </div>
    </section>
  </div>
  <div class="help-order">
    <img src="assets/SVGs/help.svg">
    <p>Ayuda en linea</p>
  </div>
</div>
