.order-status-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.order-status-container div {
    min-width: 80%;
}

.my-order p {
    margin: 4px;
}

.name-restaurant {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-restaurant-order {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.brand-name {
    font-size: 16px;
    font-weight: 700;
}

.order-image {
    width: 40px;
    height: 40px;
}

.order-products {
    display: flex;
    flex-direction: row;
    gap: 25px;
}


.costs-order-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.costs-order-title img {
    width: 24px;
    height: 24px;
}

.costs-order-summary section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.costs-order-summary section p {
    margin: 4px;
}

.costs-order-summary section :last-child {
    font-weight: 700;
}
.more-details-order img {
    width: 24px;
    height: 24px;
}

.more-details-order section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.more-details-order p {
    margin: 4px;
}

.more-details-order section div :last-child {
    font-weight: 600;
}

.help-order {
    display: flex;
    justify-content: center;
    align-items: center;
}
.help-order p {
    font-weight: 500;
    text-decoration: underline;
    color: #114260;
}