<app-modaladdresses></app-modaladdresses>
<app-seeker-of-home></app-seeker-of-home>
<app-navbar></app-navbar>

<div class="home">
    <div class="title-cards">
        <section class="restaurants">
            <h2>Restaurantes</h2>
            <button class="btn-see-more" (click)="redirectTo('foodTypes')">Ver más</button>
        </section>
        <section class="restaurants-cards">
            <div class="burger" routerLink="/restaurant">
                <p>Hamburguesas</p>
                <img src="../../assets/images/burger.png" alt="Hamburguesa">
            </div>
            <div class="pizza">
                <p>Pizzas</p>
                <img src="../../assets/images/pizza.png" alt="Pizza">
            </div>
            <div class="vegan">
                <p>Vegano</p>
                <img src="../../assets/images/vegan.png" alt="Pizza">
            </div>
            <div class="empanada">
                <p>Empanadas</p>
                <img src="../../assets/images/empanada.png" alt="Pizza">
            </div>
            <div class="dessert">
                <p>Postres</p>
                <img src="../../assets/images/dessert.png" alt="Pizza">
            </div>
            <div class="breakfast">
                <p>Desayuno</p>
                <img src="../../assets/images/pizza.png" alt="Pizza">
            </div>
        </section>
    </div>
    <div class="repeat-order">
        <section class="repeat-restaurant">
            <h2>Volvé a disfrutarlos</h2>
        </section>
        <div class="restaurant-cards">
            <!--Aca iria listado como nos lo pase el back
        pero ahora va hardcodeado-->
            <app-restaurant-card image="../../assets/images/mcdonalds.png" price="0"></app-restaurant-card>
            <app-restaurant-card image="../../assets/images/pizza-restaurant.jpg" price="469"></app-restaurant-card>
        </div>
    </div>
    <div class="based-on-orders">
        <h2 class="section-title">Relacionados con tus pedidos</h2>
        <section>
            <div class="carousel-container">
                <app-restaurant-card-for-carousel image="../../assets/images/imgs-restaurant-card/pizza.jpg"
                    logo="../../assets/images/pizza-restaurant.jpg" name="Zarpada Pizza" price="469" rate="4.2"
                    deliveryTime="30-45"></app-restaurant-card-for-carousel>
                <app-restaurant-card-for-carousel image="../../assets/images/imgs-restaurant-card/helado.jpg"
                    logo="../../assets/images/mcdonalds.png" name="Gredo" price="0" rate="5"
                    deliveryTime="10-20"></app-restaurant-card-for-carousel>
                <app-restaurant-card-for-carousel image="../../assets/images/imgs-restaurant-card/ice-cream.jpg"
                    logo="../../assets/images/logo-icecream.jpg" name="Cremaschi" price="329" rate="4.7"
                    deliveryTime="15-30"></app-restaurant-card-for-carousel>
                <app-restaurant-card-for-carousel image="../../assets/images/imgs-restaurant-card/cafe-tienda.jpg"
                    logo="../../assets/images/cafe-logo.png" name="Cafesuli" price="100" rate="4.3"
                    deliveryTime="10-20"></app-restaurant-card-for-carousel>
            </div>
        </section>
    </div>
    <div class="based-on-orders">
        <h2 class="section-title">Los mas pedidos esta semana</h2>
        <section>
            <div class="carousel-container">
                <app-restaurant-card-for-carousel image="../../assets/images/imgs-restaurant-card/pastas-dimaria.jpg"
                    logo="../../assets/images/pastas-logo.png" name="Pastas Di Maria" price="912" rate="1.8"
                    deliveryTime="20-40"></app-restaurant-card-for-carousel>
                <app-restaurant-card-for-carousel image="../../assets/images/imgs-restaurant-card/sushi.jpg"
                    logo="../../assets/images/logo-sushi.jpg" name="Sushi Moe" price="0" rate="5"
                    deliveryTime="10-20"></app-restaurant-card-for-carousel>
                <app-restaurant-card-for-carousel image="../../assets/images/imgs-restaurant-card/helado.jpg"
                    logo="../../assets/images/mcdonalds.png" name="Gredo" price="0" rate="5"
                    deliveryTime="10-20"></app-restaurant-card-for-carousel>
                <app-restaurant-card-for-carousel image="../../assets/images/imgs-restaurant-card/ice-cream.jpg"
                    logo="../../assets/images/logo-icecream.jpg" name="Cremaschi" price="329" rate="4.7"
                    deliveryTime="15-30"></app-restaurant-card-for-carousel>
            </div>
        </section>
    </div>
    <div class="based-on-orders">
        <h2 class="section-title">Los mejores de tu zona</h2>
        <section>
            <div class="carousel-container">
                <app-restaurant-card-for-carousel image="../../assets/images/imgs-restaurant-card/ice-cream.jpg"
                    logo="../../assets/images/logo-icecream.jpg" name="Cremaschi" price="329" rate="4.7"
                    deliveryTime="15-30"></app-restaurant-card-for-carousel>
                <app-restaurant-card-for-carousel image="../../assets/images/imgs-restaurant-card/sushi.jpg"
                    logo="../../assets/images/logo-sushi.jpg" name="Sushi Moe" price="0" rate="5"
                    deliveryTime="10-20"></app-restaurant-card-for-carousel>
                <app-restaurant-card-for-carousel image="../../assets/images/imgs-restaurant-card/pizza.jpg"
                    logo="../../assets/images/pizza-restaurant.jpg" name="Zarpada Pizza" price="469" rate="4.2"
                    deliveryTime="30-45"></app-restaurant-card-for-carousel>
                <app-restaurant-card-for-carousel image="../../assets/images/imgs-restaurant-card/helado.jpg"
                    logo="../../assets/images/mcdonalds.png" name="Gredo" price="0" rate="5"
                    deliveryTime="10-20"></app-restaurant-card-for-carousel>

            </div>
        </section>
    </div>
    <div class="based-on-orders">
        <h2 class="section-title">Descubrí opciones nuevas</h2>
        <section>
            <div class="carousel-container">
                <app-restaurant-card-for-carousel image="../../assets/images/imgs-restaurant-card/parrilla.jpg"
                    logo="../../assets/images/logo-parrilla.png" name="Don Juan" price="220" rate="4.9"
                    deliveryTime="15-25"></app-restaurant-card-for-carousel>
                <app-restaurant-card-for-carousel image="../../assets/images/imgs-restaurant-card/cafe-tienda.jpg"
                    logo="../../assets/images/cafe-logo.png" name="Cafesuli" price="100" rate="4.3"
                    deliveryTime="10-20"></app-restaurant-card-for-carousel>
                <app-restaurant-card-for-carousel image="../../assets/images/imgs-restaurant-card/ice-cream.jpg"
                    logo="../../assets/images/logo-icecream.jpg" name="Cremaschi" price="329" rate="4.7"
                    deliveryTime="15-30"></app-restaurant-card-for-carousel>
                <app-restaurant-card-for-carousel image="../../assets/images/imgs-restaurant-card/sushi.jpg"
                    logo="../../assets/images/logo-sushi.jpg" name="Sushi Moe" price="0" rate="5"
                    deliveryTime="10-20"></app-restaurant-card-for-carousel>
            </div>
        </section>
    </div>
</div>